body {
  font-size: 16px;
  background-color: #F3F3F3;
  margin: 0 auto;
  max-width: 1024px;
}
header {
  background-color: #E52934;
  height: 80px;
  padding: 0 64px;
}
.logo {
  width: 100px;
  margin-top: 21px;
}
nav {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}
ul { margin: 0; }
li {
  display: inline;
  margin-right: 32px;
  line-height: 75px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{ color: #d1d1d1; }
header input {
  float: right;
  margin-top: 30px;
}
.series {
  font-size: 0;
  padding: 16px;
  overflow: hidden;
}
.series h2 { font-size: 2.5rem; }
.serie {
  display: inline-block;
  width: 13%;
  margin-right: 1%;
}
.serie img { width: 100%; }
.serie:last-child { margin-right: 0; }
.contacto {
  width: 60%;
  margin-top: 8%;
  margin-left: 20%;
}
.contacto input, .contacto textarea {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #7ac9b7;
}
.contacto textarea { height: 150px; }
.contacto input[type="submit"] {
  background-color: #4180C5;
  color: white;
  cursor: pointer;
}
.contacto input[type="submit"]:hover{ background-color: black; }
.vista-previa {
  margin-top: 30px;
  overflow: hidden;
}
.vista-previa img {
  float: left;
  width: 50%;
  margin-left: 8%;
}
.serie-info {
  width: 30%;
  list-style-type: none;
  float: left;
  margin-left: 4%;
  margin-right: 8%;
}
.serie-info ul { padding-left: 0; }
.serie-info li {
  display: block;
  height: 25px;
}
.serie-info p { margin-top: 40px; }
.serie-info button {
  display: block;
  height: 25px;
  margin-bottom: 10px;
  padding: .5em 1em;
}
.serie-info button i { width: 20px; }
@media screen and (max-width: 800px) {
  nav { display: none; }
  header { padding: 0 16px; }
  header input { width: 150px; }
  .serie {
    margin-right: 5%;
    width: 16%;
    margin-bottom: 20px;
  }
  .serie:nth-child(6) { margin-right: 0; }
  .vista-previa { padding: 1% 10%; }
  .serie-info, .vista-previa img {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .serie {
    width: 30%;
    margin-right: 5%;
  }
  .serie:nth-child(3n + 1) { margin-right: 0; }
  .serie:nth-child(6) { margin-right: 5%; }
  .vista-previa { padding: .5% 5%; }
}
