body {
	font-size: 16px;
	background-color: #F3F3F3;
	margin: 0;
}
header {
	background-color: #E52934;
	height: 80px;
	padding: 0 64px;
}
.logo {
	width: 100px;
	margin-top: 21px;
}
nav {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}
ul {
	margin: 0;
}
li {
	display: inline;
	margin-right: 32px;
	line-height: 75px;
}
a {
	color: white;
	text-decoration: none;
}
a:hover{
	color: #d1d1d1;
}
header input {
	float: right;
	margin-top: 30px;
}
.series{
	padding: 16px;
	width: 100%;
	overflow: hidden;
}
.serie {
	float: left;
	width: 13%;
	margin-right: 15px;
}
.serie:last-child {
	margin-right: 0px;
}
.contacto {
	width: 60%;
	margin-top: 8%;
	margin-left: 20%;
}
/* Refactorizar este código. Ubicar las propiedades en común y utilizar los selectores separados por una coma */
/*Ya modifiqué la parte de los selectores con comas */
.contacto input {
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #7ac9b7;
}
.contacto textarea {
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #7ac9b7;
	height: 150px;
}
.contacto input[type="submit"] {
	background-color: #4180C5;
	color: white;
	cursor: pointer;
}
.contacto input[type="submit"]:hover{
	background-color: black;
}
.vista-previa {
	margin-top: 70px;
	overflow: hidden;
}
.vista-previa img {
	float: left;
	width: 50%;
	margin-left: 8%;

}
.serie-info {
	width: 30%;
	list-style-type: none;
	float: left;
	margin-left: 4%;
	margin-right: 8%;
}
.serie-info ul {
	padding-left: 0;
}
.serie-info li {
	display: block;
	height: 25px;
}
.serie-info p {
	margin-top: 40px;
}
.serie-info button {
	display: block;
	height: 25px;
	margin-bottom: 10px;
	padding: .5em 1em;
}
.serie-info button i {
	width: 20px;
}