body {
	font-size: 16px;
	font-family: sans-serif;
	background-color: white;
	margin: 0;
}
header {
	background-color: #54585B;
	height: 35px;
}
nav {
	font-weight: bold;
}
ul {
	float: right;
}
li {
	display: inline-block;
	float: left;
	padding-right: 50px;
	line-height: 5px;
	font-size: 12px;
}
a {
	color: white;
	text-decoration: none;
}
section {
	margin-left: 170px;
	margin-top: 50px;
}
.imagenes {
	display: inline-block;
}
.pasos {
	display: inline;
}
h2 {
	color: #2EAADD;
}
.productos {
	border-bottom: 1px dotted #404040;
	margin-right: 200px;
	padding-bottom: 20px;
}
div {
	display: inline-block;
	vertical-align: top;
}
.producto {
	width: 200px;
	padding-top: 20px;
}
.descripcion {
	width: 400px;
	font-size: 12px;
}
.cantidad {
	width: 200px;
	line-height: 50px;
	padding-left: 20px;
}
.subtotal {
	width: 100px;
}
#precio {
	font-size: 18px;
	color: #2EAADD;
	font-weight: bold;
}
#nodisp {
	color: #ABABAB;
	font-size: 18px;
	font-weight: bold;
}
form label {
	width: 100px;
	display: inline-block;
	vertical-align: top;
}
input[type="text"] {
	font-size: 15px;
	margin-bottom: 20px;
	width: 250px;
	box-sizing: border-box;
}
#departamento {
	font-size: 15px;
	margin-bottom: 20px;
	width: 250px;
	box-sizing: border-box;
}
textarea {
	font-size: 15px;
	margin-bottom: 20px;
	width: 250px;
	height: 150px;
}
.final {
	float: right;
	margin-right: 250px;
}
.pag {
	display: inline;
	padding-bottom: 50px;
}
input[type="submit"] {
	background-color: #11B4FF;
	color: white;
	cursor: pointer;
	width: 300px;
	height: 50px;
	font-size: 25px;
	border:1px,solid;
	border-radius: 15px;
}
.informacion {
	width: 900px;
}
#mail {
	color: #2EAADD;
}
h3 {
	text-align: center;
}
footer {
	background-color: #54585B;
	margin-top: 200px;
	padding-bottom: 10px;
	height: 50px;
}
footer ul {
	margin: 0;
	float: right;
	padding-right: 100px;
	padding-top: 10px;
}
footer ul li {
	display: inline;
	color: white;
}
footer ul li img {
	height: 40px;
}
.dpie {
	padding-top: 15px;
}